.contact form input {
    padding: 15px;
    width: 300px;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
}

.contact form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nameAndEmail , .subjectAndPhone {
    display: flex;
    gap: 10px;
}

.contact textarea {
    height: 100px;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
}

.contact form button {
    width: 200px;
    background-color: orange;
padding: 10px;
border: none;
border-radius: 5px;
}